checkpoints/
pretrained_checkpoints/
models/Florence2large/
models/__pycache__/

PointCLIP_V2/figs/
**/__pycache__/
PointCLIP_V2/zeroshot_cls/data/**
PointCLIP_V2/zeroshot_cls/prompts/*.mat
PointCLIP_V2/zeroshot_cls/Dassl3D/build/**

point_e_model_cache/
data/modelnet40_normal_resampled/